.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(211, 144, 144);
}

.nav {
  width: 20%;
  background-color: rgb(152, 191, 237);
  color: white;
} 

.profile {
  width: 80%;
  background-color: rgb(180, 219, 157);
} 

.app-wrapper-content {
  background-color: rgb(134, 197, 141);
  min-width: 80%;
}