.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(211, 144, 144);
}


.nav {
  width: 20%;
  background-color: rgb(152, 191, 237);
} 

.profile {
  width: 80%;
  background-color: rgb(180, 219, 157);
} 
